<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">

  <sitecore>

    <!-- Site Cache Clear -->
    <events>
      
      <event name="publish:end">
        <!-- Cache clearing handler -->
        <handler type="Jabberwocky.Core.Caching.SiteCache, Jabberwocky.Core" method="EmptyCacheHandler"/>
      </event>
      <event name="publish:end:remote">
        <!-- Cache clearing handler -->
        <handler type="Jabberwocky.Core.Caching.SiteCache, Jabberwocky.Core" method="EmptyCacheHandler"/>
      </event>

      <event name="indexing:end">
        <!-- Cache clearing handler -->
        <handler type="Jabberwocky.Core.Caching.SiteCache, Jabberwocky.Core" method="EmptyCacheHandler"/>
      </event>
      <event name="indexing:end:remote">
        <!-- Cache clearing handler -->
        <handler type="Jabberwocky.Core.Caching.SiteCache, Jabberwocky.Core" method="EmptyCacheHandler"/>
      </event>
      
    </events>

  </sitecore>

</configuration>