<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.7.0" targetFramework="net48" />
  <package id="Sitecore.Data.ResourceItems.Abstractions" version="10.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
</packages>