<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<initialize>
				<processor patch:after="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"
          type="Jabberwocky.Autofac.Extras.MiniProfiler.Sc.Pipeline.Initialize.MiniProfilerRouteProcessor, Jabberwocky.Autofac.Extras.MiniProfiler.Sc" />
			</initialize>

			<registerAutofacDependencies>
				<processor
					patch:before="processor[@type='Jabberwocky.Glass.Autofac.Pipelines.RegisterAutofacDependencies.BuildContainer, Jabberwocky.Glass.Autofac']"
					type="Jabberwocky.Autofac.Extras.MiniProfiler.Sc.Pipeline.RegisterAutofacDependencies.RegisterMiniProfilerModule, Jabberwocky.Autofac.Extras.MiniProfiler.Sc">

					<Configuration type="Jabberwocky.Autofac.Extras.MiniProfiler.Sc.Pipeline.RegisterAutofacDependencies.MiniProfilerConfigurationWrapper, Jabberwocky.Autofac.Extras.MiniProfiler.Sc">
						<IncludeSitecoreRegistrations desc="Instrument Sitecore Registrations">false</IncludeSitecoreRegistrations>
						<InstrumentedAssemblies hint="list:AddAssembly">
							<!-- Add your Website DLL & Libraries here -->
							<GlassMapper>Glass.Mapper</GlassMapper>
							<GlassMapperSc>Glass.Mapper.Sc</GlassMapperSc>
							<GlassMapperMvc>Glass.Mapper.Sc.Mvc</GlassMapperMvc>
						</InstrumentedAssemblies>
						<IncludedNamespaces hint="list:IncludeNamespace">
							<!-- Only use if you want to ONLY instrument these particular namespaces -->
						</IncludedNamespaces>
						<ExcludedNamespaces hint="list:ExcludeNamespace">
							<!-- Use to exclude particular namespaces from instrumentation -->
						</ExcludedNamespaces>
						<ExcludedTypes hint="list:ExcludeType">
							<!-- Use to exclude particular types from instrumentation -->
						</ExcludedTypes>
					</Configuration>
					
				</processor>
			</registerAutofacDependencies>
			
		</pipelines>
	</sitecore>
</configuration>
