<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">

	<sitecore>

		<services>
			<register serviceType="Jabberwocky.Extras.Polly.Sc.Caching.Keys.IPolicyKeyProvider, Jabberwocky.Extras.Polly.Sc"
								implementationType="Jabberwocky.Extras.Polly.Sc.Caching.Keys.DefaultPolicyKeyProvider, Jabberwocky.Extras.Polly.Sc"
								lifetime="Singleton" />
			<register serviceType="Jabberwocky.Extras.Polly.Sc.Caching.IPolicyCacheProvider, Jabberwocky.Extras.Polly.Sc"
								implementationType="Jabberwocky.Extras.Polly.Sc.Caching.PolicyCacheProvider, Jabberwocky.Extras.Polly.Sc"
								lifetime="Singleton" />
		</services>
		
		<!-- Site Cache Clear -->
		<events>

			<event name="publish:end">
				<!-- Cache clearing handler -->
				<handler type="Jabberwocky.Extras.Polly.Sc.Caching.CacheClearService, Jabberwocky.Extras.Polly.Sc" method="EmptyCacheHandler"/>
			</event>
			<event name="publish:end:remote">
				<!-- Cache clearing handler -->
				<handler type="Jabberwocky.Extras.Polly.Sc.Caching.CacheClearService, Jabberwocky.Extras.Polly.Sc" method="EmptyCacheHandler"/>
			</event>

		</events>

		<pipelines>
			<mvc.renderRendering>
				<processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc']"
									 type="Jabberwocky.Extras.Polly.Sc.Pipelines.Mvc.RenderRendering.AddPageEditorWrapper, Jabberwocky.Extras.Polly.Sc">
				</processor>
				<processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc']"
									 type="Jabberwocky.Extras.Polly.Sc.Pipelines.Mvc.RenderRendering.AddPollyWrapper, Jabberwocky.Extras.Polly.Sc">
				</processor>
			</mvc.renderRendering>
		</pipelines>

	</sitecore>

</configuration>