<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="Jabberwocky.Glass.Mvc.DependencyInjection.Configurator, Jabberwocky.Glass.Mvc" />
    </services>

    <pipelines>
      <mvc.getModel>
        <processor patch:before="processor[@type='Glass.Mapper.Sc.Pipelines.Response.GetModelFromView, Glass.Mapper.Sc.Mvc']"
                   type="Jabberwocky.Glass.Mvc.Pipelines.Processors.GetModelProcessor, Jabberwocky.Glass.Mvc"
                   resolve="true" />
        <processor patch:after="processor[@type='Jabberwocky.Glass.Mvc.Pipelines.Processors.GetModelProcessor, Jabberwocky.Glass.Mvc']"
                   type="Jabberwocky.Glass.Mvc.Pipelines.Processors.GetModelFromViewProcessor, Jabberwocky.Glass.Mvc"
                   resolve="true" />
      </mvc.getModel>
    </pipelines>
  </sitecore>
</configuration>