<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    
    <pipelines>
      
      <mvc.getModel>
        <processor patch:before="processor[@type='Glass.Mapper.Sc.Pipelines.Response.GetModelFromView, Glass.Mapper.Sc.Mvc']"
                   type="Jabberwocky.Glass.Autofac.Mvc.Pipelines.Processors.GetModelProcessor, Jabberwocky.Glass.Autofac.Mvc"
                   factory="Autofac" ref="Jabberwocky.Glass.Autofac.Mvc.Pipelines.Processors.GetModelProcessor, Jabberwocky.Glass.Autofac.Mvc" reusable="false" />
        <processor patch:after="processor[@type='Jabberwocky.Glass.Autofac.Mvc.Pipelines.Processors.GetModelProcessor, Jabberwocky.Glass.Autofac.Mvc']"
                   type="Jabberwocky.Glass.Autofac.Mvc.Pipelines.Processors.GetModelFromViewProcessor, Jabberwocky.Glass.Autofac.Mvc"
                   factory="Autofac" ref="Jabberwocky.Glass.Autofac.Mvc.Pipelines.Processors.GetModelFromViewProcessor, Jabberwocky.Glass.Autofac.Mvc" reusable="false" />
      </mvc.getModel>

    </pipelines>
    
  </sitecore>
</configuration>