<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<initialize>
				<processor patch:after="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"
          type="Jabberwocky.Extras.MiniProfiler.Sc.Pipeline.Initialize.MiniProfilerRouteProcessor, Jabberwocky.Extras.MiniProfiler.Sc" />
			</initialize>

		  <httpRequestBegin>
		    <processor type="Jabberwocky.Extras.MiniProfiler.Sc.Pipeline.HttpRequestBegin.StartMiniProfiler,Jabberwocky.Extras.MiniProfiler.Sc" patch:before = "*[1]" />
		  </httpRequestBegin>

		  <httpRequestEnd>
		    <processor type="Jabberwocky.Extras.MiniProfiler.Sc.Pipeline.HttpRequestEnd.StopMiniProfiler,Jabberwocky.Extras.MiniProfiler.Sc" />
		  </httpRequestEnd>

			<mvc.getRenderer>
				<processor type="Jabberwocky.Extras.MiniProfiler.Sc.Pipeline.Mvc.GetRenderer.AddMiniProfilerWrapper, Jabberwocky.Extras.MiniProfiler.Sc" />
			</mvc.getRenderer>
			
		</pipelines>
	</sitecore>
</configuration>
