<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net471" />
  <package id="Glass.Mapper.Sc.91.Core" version="5.3.15" targetFramework="net471" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
  <package id="Sitecore.Kernel" version="12.0.0" targetFramework="net471" />
</packages>