<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.1.0" targetFramework="net452" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="Glass.Mapper.Sc.Core" version="4.4.1.328-beta" targetFramework="net462" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
  <package id="Sitecore.Kernel.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Mvc.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
</packages>