<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Polly" version="6.1.2" targetFramework="net48" />
  <package id="RazorGenerator.Mvc" version="2.4.9" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.3.0" targetFramework="net48" />
  <package id="Sitecore.Mvc" version="10.3.0" targetFramework="net48" />
  <package id="WebActivatorEx" version="2.0.3" targetFramework="net48" />
</packages>